* text=auto eol=lf

# Windows project files
*.sln text eol=crlf
*.vcxproj text eol=crlf
*.vcxproj.filters text eol=crlf
*.props text eol=crlf

# Binary files
*.png binary
*.jpg binary
*.ico binary
*.lib binary
*.dll binary
*.exe binary
*.pdb binary
